@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_bold.svg#circe_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../fonts/circe_extrabold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_extrabold.svg#circe_extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe ExtraLight';
  src: url('../fonts/circe_extralight.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_extralight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_extralight.svg#circe_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe Light';
  src: url('../fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe Thin';
  src: url('../fonts/circe_thin.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_thin.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_thin.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_thin.svg#circe_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}


/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #808080;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
  }
}

h1, .page-caption {
  font-family: 'Circe ExtraBold', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  color: #29303A;
  text-align: left;
  font-weight: normal;
  align-self: flex-start;
  span {
    color: white;
    padding: 0 8px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      min-width: calc(100% + 5px);
      height: 44px;
      z-index: -1;
    }
  }
}

h2 {
  font-family: 'Circe ExtraBold', sans-serif;
  font-size: 26px;
  line-height: 1.1;
  color: #29303A;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Circe Bold', sans-serif;
  font-size: 18px;
  line-height: 1.15;
  color: #29303A;
  margin-bottom: 4px;
}

h5 {
  font-family: 'Circe Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #29303A;
}

p {
  margin-bottom: 25px;
  a {
    color: #058BD9;
    text-decoration: underline;
  }
}

.back--blue:after {
  background-color: #058BD9;
}

.back--yellow:after {
  background-color: #FFBA08;
}

.back--red:after {
  background-color: #FF451D;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  display: flex;
}

header {
  width: 90%;
  max-width: 1400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 40px 0;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 22px;
  min-width: 199px;
  max-height: 52px;
  background-color: #FF451D;
  border-radius: 256px;
  font-family: 'Circe Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  box-sizing: border-box;

  &.hover {
    color: white;
  }

  img {
    margin-right: 10px;
  }

  &.button__dropdown {
    span {
      position: relative;
      padding-right: 26px;

      &:after {
        content: url("../img/button-arrow.svg");
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        padding: 0 8px;
      }
    }
  }

  &.content-button {
    font-family: 'Circe', sans-serif;
    width: auto;
    height: 52px;
    background-color: #058BD9;
    padding: 14px 20px;
    &.content-button--yellow {
      background-color: #FFBA08;
    }
    &.content-button--red {
      background-color: #FF451D;
    }
    &.content-button--grey {
      background-color: #FFBA08;
      background: rgba(5, 139, 217, 0.1);
      border-radius: 20px;
      max-height: 40px;
      color: #058BD9;
    }
  }
}

.section-block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.fp-slidesNav {
  display: flex;
  align-items: center;
  left: 5vw!important;
  top: 68px!important;
  ul li a {
    background-color: #EFEFEF;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 6px solid white;
    margin-right: 20px;
    box-sizing: border-box;
    span {
      background-color: transparent;
    }
    &.active {
      box-shadow: 0 0 0 1px #058BD9;
      background-color: #058BD9;
    }
  }
}



.button--transparent {
  padding: 8px 16px;
  min-width: 114px;
  width: max-content;
  height: 40px;
  opacity: 0.9;
  border: 1px solid rgba(5, 139, 217, 0.4);
  box-sizing: border-box;
  border-radius: 20px;
  font-family: 'Circe', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #058BD9;
  background-color: transparent;
  margin-top: 20px;
}

.button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  .button {
    margin-right: 16px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &.mt-60 {
    margin-top: 60px;
  }
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 34px;
}

.link-box  {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 80px;
  transform: translateY(-120%);
  width: 367px;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(5, 139, 217, 0.5);
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.5s ease;

  &.show {
    transform: translateY(0);
    top: 130px;
  }

  .link-box__item {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 16px;
    font-family: 'Circe Bold', sans-serif;
    color: #29303A;
    padding: 0 16px;
    transition: all 0.5s ease;
    box-sizing: border-box;
    &:hover {
      background: rgba(255, 69, 29, 0.16);
      color: #FF451D;
    }
  }
}

.soc-box {
  width: max-content;
  max-height: 64px;
  background: #FFFFFF;
  transition: all 0.5s ease;
  border-radius: 256px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  margin-bottom: 60px;
  a {
    max-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .media-link {
    display: none;
    margin: 4px;
  }

  .share-icon {
    margin-right: 8px;
  }

  &:hover {
    box-shadow: 0px 0px 32px rgba(5, 139, 217, 0.5);

    .media-link {
      display: flex;
    }
  }
}

#fp-nav {
  display: none!important;
}

.page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  padding-top: 130px;
  &.double-block {
    flex-direction: row;
    justify-content: space-between;
  }

  .double-block__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 50%;
    height: 100%;
  }
}

span.text-color--blue {
  color: #058BD9;
}

.block-center {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 440px;
    max-height: 100%;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto!important;
}

ul {
  list-style: none;
  padding-left: 0;
}

nav {
  position: sticky;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  max-height: calc(100vh - 600px);
  //overflow: hidden;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .nav__line {
    width: 1px;
    min-height: 106px;
    background-color: #EFEFEF;
    margin-left: 8px;
    position: relative;
    z-index: 40;
  }

  ul {
    height: max-content;
    margin: 40px 0;
    li {
      margin: 16px 0;
      .nav__item {
        font-family: 'Circe', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #29303A;
        opacity: 0.25;
        display: flex;
        align-items: center;
        .nav__value {
          margin-left: 16px;
        }
      }
      &.active {
        .nav__item {
          opacity: 1;
          .nav__number {
            font-size: 32px;
            font-family: 'Circe Bold', sans-serif;
          }
        }
      }
    }
  }
}

.decor-img {
  position: absolute;
  &.triangle {
    top: 20vh;
    left: 15px;
  }
  &.romb {
    bottom: 15vh;
    left: 35px;
  }
  &.zic {
    right: 45px;
    bottom: 22vh;
  }
}

form.search-form {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
  width: 100%;
  input[type="search"] {
    -webkit-appearance: none !important;
    background-clip: padding-box;
    vertical-align: middle;
    background: #EFEFEF;
    border-radius: 30px;
    border: none;
    width: 100%;
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #29303A;
    padding: 0 20px;
  }

  input[type="search"]:focus {
    transition: all 0.5s;
    outline: none;
  }

  label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    margin-bottom: 0;
    width: calc(100% - 80px);
    max-width: 300px;
    margin-right: 12px;
  }

  input.search-field {
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    height: 51px;
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #29303A;
    &::placeholder {
      font-family: 'Circe', sans-serif;
      opacity: 0.5;
    }
  }

  input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }

  input.search-submit {
    height: 51px;
    margin: 0;
    padding: 1rem 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
  }

  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .search-button {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0;
  }

  .search-button:hover,
  .search-button:active,
  .search-button:focus {
    cursor: pointer;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
  }
}

.img-search-button {
  margin-top: 64px;
  cursor: pointer;
  width: 100%;
  max-width: 380px;
  img {
    width: 100%;
  }
}

.search-result {
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(5, 139, 217, 0.5);
  border-radius: 40px;
  padding: 32px;
  width: 100%;
  max-width: 450px;
  height: 600px;
  box-sizing: border-box;
  visibility: hidden;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  transition: all 0.5s ease;
  form.search-form {
    margin-top: 0;
    input[type="search"] {
      background-color: transparent;
      border: 1px solid #EFEFEF;
      box-sizing: border-box;
      border-radius: 30px;
    }
  }
  &.show {
    visibility: visible;
    transform: translateX(0);
  }
}

.search-result__list {
  scrollbar-color: #EFEFEF rgba(41, 48, 58, 0.2);
  scrollbar-width: 4px;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #EFEFEF;
    margin-right: 32px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(41, 48, 58, 0.2);
    border-radius: 2px;
    box-shadow: none;
  }
  .caption {
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #808080;
    margin: 16px 0;
  }
}


.relevant-result {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  .relevant-result__item {
    color: #058BD9;
    font-size: 16px;
    padding-left: 30px;
    position: relative;
    text-align: left;
    margin: 10px 0;
    max-width: 300px;
    &.mb-min {
      margin-bottom: 4px;
      margin-top: 0;
    }
    &:before {
      content: url("../img/doc-icon.svg");
      position: absolute;
      left: 0;
      top: 2px;
    }
    &.template-icon:before {
      content: url("../img/template-icon.svg");
    }
  }
}

.no-indent {
  margin-bottom: 8px;
}

.content-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  &.content-block--center {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
  }
}

.tabs {
  display: flex;
  width: 70%;
  justify-content: space-between;
  .tabs__caption {
    width: 40%;
    li {
      font-family: 'Circe', sans-serif;
      line-height: 1.1;
      align-items: center;
      color: #058BD9;
      margin-bottom: 25px;
      letter-spacing: 0;
      transition: all 0.5s ease;
      &.active {
        font-family: 'Circe Bold', sans-serif;
        padding-left: 24px;
        color: #29303A;
        font-size: 18px;
        position: relative;
        &:before {
          content: url("../img/link-arrow.svg");
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .tabs__content {
    display: none;
    width: 55%;
  }
  .tabs__content.active {
    display: block;
  }
}

.content-block {
  .relevant-result {
    margin-top: 45px;
  }
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.content-block__column--w50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  p.min-text {
    max-width: 420px;
  }
}

.content-block__column--w60 {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.content-block__column--w40 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  p {
    max-width: 370px;
    margin-bottom: 20px;
  }
}

p.p-arrow {
  padding-left: 26px;
  position: relative;
  margin-bottom: 16px;
  max-width: 500px;
  &:before {
    content: url("../img/text-arrow.svg");
    position: absolute;
    left: 0;
    top: 8px;
  }
  &.p-arrow--red {
    color: #29303A;
    &:before {
      content: url("../img/text-arrow-red.svg");
      top: 0;
      max-width: 100%;
    }
  }
}

p.min-text {
  font-family: 'Circe', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #808080;
  padding-left: 26px;
  margin-top: -12px;
  max-width: 100%;
}

.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  box-sizing: border-box;
  margin-bottom: 60px;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    img {
      width: 100%;
    }
    p {
      text-align: center;
      max-width: 300px;
    }
    h4 {
      text-align: center;
      margin-top: 112px;
      margin-bottom: 16px;
    }
    .img-decor {
      position: relative;
      &.after:after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        transform: translate(100%, 100%);
        width: 55%;
        height: 40px;
        display: inline-block;
        background-image: url("../img/img-after.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      &.before:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        transform: translate(100%, -100%);
        width: 55%;
        height: 40px;
        display: inline-block;
        background-image: url("../img/img-before.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}

.range {
  margin-top: 24px;
}

.option-padding {
  padding-right: 12px;
}

[type='range'], [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}


[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}
[type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #ccc;
}
[type='range']::-moz-range-progress {
  height: 0.25em;
  background: #95a;
}
[type='range']::-ms-fill-lower {
  height: 0.25em;
  background: #95a;
}
[type='range']::-webkit-slider-thumb {
  margin-top: -0.625em;
  box-sizing: border-box;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: url("../img/thumb.svg") no-repeat center;
}
[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: url("../img/thumb.svg");
}
[type='range']::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: url("../img/thumb.svg");
}
[type='range']::-ms-tooltip {
  display: none;
}



#rangeInput[type='range'] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(1.5em + var(--ratio)*(100% - 1.5em));
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  &:focus {
    outline: none;
  }
}

.js #rangeInput[type='range']::-webkit-slider-runnable-track {
  background:linear-gradient(to right, #FFAD08 , #058BD9) 0/var(--sx) 100% no-repeat #ccc;
}

#rangeInput2[type='range'] {
  --range2: calc(var(--max2) - var(--min2));
  --ratio2: calc((var(--val2) - var(--min2))/var(--range2));
  --sx2: calc(1.5em + var(--ratio2)*(100% - 1.5em));
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  &:focus {
    outline: none;
  }
}

.js2 #rangeInput2[type='range']::-webkit-slider-runnable-track {
  background:linear-gradient(to right, #FFAD08 , #058BD9) 0/var(--sx2) 100% no-repeat #ccc;
}

#rangeInput3[type='range'] {
  --range3: calc(var(--max3) - var(--min3));
  --ratio3: calc((var(--val3) - var(--min3))/var(--range3));
  --sx3: calc(1.5em + var(--ratio3)*(100% - 1.5em));
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  &:focus {
    outline: none;
  }
}

.js3 #rangeInput3[type='range']::-webkit-slider-runnable-track {
  background:linear-gradient(to right, #FFAD08 , #058BD9) 0/var(--sx3) 100% no-repeat #ccc;
}

#rangeInput4[type='range'] {
  --range4: calc(var(--max4) - var(--min4));
  --ratio4: calc((var(--val4) - var(--min4))/var(--range4));
  --sx4: calc(1.5em + var(--ratio4)*(100% - 1.5em));
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  &:focus {
    outline: none;
  }
}

.js4 #rangeInput4[type='range']::-webkit-slider-runnable-track {
  background:linear-gradient(to right, #FFAD08 , #058BD9) 0/var(--sx4) 100% no-repeat #ccc;
}


datalist {
  display: flex;
  justify-content: space-between;
  font-family: 'Circe', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #808080;
}

output{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-top: 20px;
  font-family: 'Circe Bold', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #29303A;
}

.rates {
  display: flex;
  width: 100%;
  margin-top: 35px;
  .rates__item {
    position: relative;
    width: 25%;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
    border-right: 1px solid #EFEFEF;
    &:nth-last-child(1) {
      border: none;
    }
    img {
      width: 100%;
    }
    h4 {
      text-align: center;
      margin-bottom: 16px;
      min-height: 63px;
    }
    span {
      font-family: 'Circe', sans-serif;
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
      color: #808080;
      margin: 4px 0;
    }
  }
}

.total-price {
  font-family: 'Circe', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #808080;
  align-self: flex-start;
  margin-top: 60px;
  span {
    font-family: 'Circe ExtraBold', sans-serif;
    font-size: 26px;
    line-height: 1;
    color: #29303A;
    padding-left: 12px;
  }
}

.form-wrap {
  position: relative;
  &:before {
    content: url("../img/form-before.svg");
    position: absolute;
    top: 80px;
    left: 70px;
    z-index: -1;
  }
  &.feedback-wrap {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    &:before {
      top: -45px;
      left: 100px;
    }
  }
}

.up-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-222%, -50%);
}

.form-tabs {
  width: 320px;
  height: 334px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(41, 48, 58, 0.16);
  border-radius: 20px;
  padding: 32px;
  box-sizing: border-box;
  z-index: 1;
  h4 {
    margin-bottom: 32px;
    max-width: 230px;
  }
}

.form-content {
  width: 100%;
  height: 112px;
  position: relative;
  label {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    margin-right: 4px;
    svg {
      fill: #808080;
    }
    &.pos {
      position: absolute;
      top: 0;
      left: 44px;
    }
  }

  input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  input[type=radio]:checked + label {
    background-color: #FF451D;
    border: none;
    svg {
      fill: white;
    }
  }

  #phone-content,
  #mail-content {
    display: none;
    opacity: 0;
    transition: all .4s ease;
    height: inherit;
  }

  #phone-content form,
  #mail-content form {
    height: inherit;
    padding: 15px 0;
    float: left;
    width: 100%;
  }

  #phone-content input,
  #mail-content input {
    border: none;
    border-bottom: 1px solid #F4F4F4;
    margin: 16px 0 32px 0;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    &::placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      color: #ACACAC;

    }
  }

  input[type=radio]#phone:checked ~ #phone-content,
  input[type=radio]#mail:checked ~ #mail-content {
    display: block;
    opacity: 1;
  }

  .button {
    max-width: 165px;
    margin-top: 32px;
  }
}

.form-tabs.feedback {
  min-width: 374px;
  height: 470px;
  h2 {
    margin-bottom: 32px;
    text-align: center;
  }
}


.feedback-content {
  width: 100%;
  height: 270px;
  position: relative;
  label {
    font-family: 'Circe', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFBA08;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    box-sizing: border-box;
    border: 1px solid #FFBA08;
    cursor: pointer;
    transition: all 0.5s ease;

    &.pos--center {
      position: absolute;
      top: 0;
      left: 46px;
      border-radius: 20px 0 0 20px;
    }
    &.pos {
      position: absolute;
      top: 0;
      left: 158px;
      border-radius: 0 20px 20px 0;
    }
  }

  input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  input[type=radio]:checked + label {
    background-color: #FFBA08;
    color: white;
  }

  #feedback-phone-content,
  #feedback-mail-content {
    display: none;
    opacity: 0;
    transition: all .4s ease;
    height: inherit;
  }

  #feedback-phone-content form,
  #feedback-mail-content form {
    height: inherit;
    padding: 15px 0;
    float: left;
    width: 100%;
    margin-top: 40px;
  }

  #feedback-phone-content input,
  #feedback-mail-content input {
    border: none;
    border-bottom: 1px solid #F4F4F4;
    margin: 0;
    margin-bottom: 4px;
    width: 100%;
    padding: 18px 0;
    box-sizing: border-box;
    &::placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      color: #ACACAC;
    }
  }

  #feedback-phone-content .file-upload,
  #feedback-mail-content .file-upload {
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    span {
      padding-right: 12px;
      &:before {
        content: url("../img/uploid.svg");
        margin-right: 8px;
        padding-top: 2px;
      }
    }
  }
  .file-upload:hover,
  .file-upload:active,
  .file-upload:focus {
    outline: none!important;
    cursor: pointer!important;
  }
  #feedback-phone-content .file-upload input.upload,
  #feedback-mail-content .file-upload input.upload {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 60px;
    cursor: pointer;
  }

  #feedback-phone-content input[type="file"], #feedback-mail-content input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
  }

  input[type=radio]#feedback-phone:checked ~ #feedback-phone-content,
  input[type=radio]#feedback-mail:checked ~ #feedback-mail-content {
    display: block;
    opacity: 1;
  }

  .button {
    max-width: 170px;
    margin: auto!important;
    margin-top: 22px;
    padding: 0!important;
  }
}

.enter-reg-tabs {
  background-color: transparent;
  box-shadow: none;
  height: 500px;
  padding: 0;
  width: 100%;
}

.enter-wrap {
  max-width: 374px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.enter-wrap:before {
  display: none;
}


.enter-reg-content {
  width: 100%;
  height: 500px;
  position: relative;
  padding-top: 125px;

  h2 {
    text-align: center;
  }

  label {
    font-family: 'Circe', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFBA08;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    box-sizing: border-box;
    border: 1px solid #FFBA08;
    cursor: pointer;
    transition: all 0.5s ease;

    &.pos--center {
      position: absolute;
      top: 0;
      left: 85px;
      width: 76px;
      border-radius: 20px 0 0 20px;
      background: rgba(255, 186, 8, 0.2);
    }

    &.pos {
      position: absolute;
      top: 0;
      left: 160px;
      border-radius: 0 20px 20px 0;
      width: 140px;
      background: rgba(255, 186, 8, 0.2);
    }
  }

  input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  input[type=radio]:checked + label {
    background-color: #FFBA08;
    color: white;
  }

  #enter-content,
  #reg-content {
    display: none;
    opacity: 0;
    transition: all .4s ease;
    height: inherit;
  }

  #enter-content form,
  #reg-content form {
    height: inherit;
    float: left;
    width: 100%;
  }

  #enter-content input,
  #reg-content input {
    border: none;
    border-bottom: 1px solid #F4F4F4;
    margin: 0;
    margin-bottom: 4px;
    width: 100%;
    padding: 18px 0;
    box-sizing: border-box;

    &::placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      color: #ACACAC;
    }
  }

  input[type=radio]#enter-tab:checked ~ #enter-content,
  input[type=radio]#reg-tab:checked ~ #reg-content {
    display: block;
    opacity: 1;
    background: #FFFFFF;
    border-radius: 16px;
    width: 374px;
    height: 335px;
    padding: 32px;
    box-sizing: border-box;
  }

  button {
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    &:focus, &:hover {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }

  .button {
    width: max-content!important;
    min-width: auto;
    padding: 14px 20px!important;
    margin: auto!important;
    margin-top: 40px!important;
  }
}

.enter-hint {
  font-family: 'Circe', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  text-align: right;
  color: #808080;
  opacity: 0.5;
  display: block;
  margin-top: 4px;
}

.reg-hint {
  font-family: 'Circe', sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #808080;
  opacity: 0.5;
  margin-top: 32px;
  a {
    opacity: 1;
    text-decoration: underline;
    color: #808080;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #252525d9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -100;
  transition: all 0.5s ease;
  &.show {
    opacity: 1;
    z-index: 100;
  }
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.recovery-password {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 32px;
  display: none;
  input {
    border: none;
    border-bottom: 1px solid #F4F4F4;
    margin: 0;
    margin-bottom: 4px;
    width: 100%;
    padding: 18px 0;
    box-sizing: border-box;
    &::placeholder {
      font-family: 'Circe', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      color: #ACACAC;
    }
  }

  .capcha {
    margin: 32px 0;
  }

  button {
    margin: auto;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    &:focus, &:hover {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
}

.modal-ok {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 32px;
  display: none;
  max-width: 373px;

  h2 {
    text-align: center;
    display: block;
  }

  button {
    margin: auto;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    &:focus, &:hover {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
}

.stends {
  display: flex;
  width: 100%;
}

h2.align-left {
  align-self: flex-start;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 32px;
}

.stends__item {
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px 26px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  h4 {
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 4px;
    font-size: 14px;
    text-align: center;
  }
  .button {
    align-self: center;
    width: 100%;
    margin-top: 32px;
  }
  .p-block {
    min-height: 150px;
  }
}

.advantages {
  width: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  .advantages__item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    h5 {
      margin-bottom: 8px;
    }
    p.min-text {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .advantages__text {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.them-template {
  width: 100%;
}

.breadcrumb {
  display: flex;
  align-self: flex-start;
  margin-bottom: 16px;
  .breadcrumb-item {
    a {
      font-family: 'Circe', sans-serif;
      font-size: 14px;
      line-height: 1.3;
      color: #058BD9;
      margin-right: 8px;
    }
    &:not(:first-child) {
      padding-left: 8px;
      &:before {
        content: url("../img/bread-icon.svg");
        margin-right: 8px;
      }
    }
  }
}

.them-caption {
  font-family: 'Circe ExtraBold', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #058BD9;
  border-radius: 4px;
  padding: 4px 12px;
}

.them-decor {
  width: 100%;
  background: linear-gradient(90deg, rgba(5, 139, 217, 0.1) 0%, rgba(5, 139, 217, 0) 94.43%);
  border-radius: 4px;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  p {
    font-family: 'Circe', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #058BD9;
    width: 75%;
    padding-left: 16px;
  }
}
.them-img {
  width: 25%;
  img {
    width: 100%;
  }
}

.them-content {
  width: 100%;
  max-width: 590px;
  z-index: 5;
  h5 {
    margin-bottom: 16px;
  }
  p {
    color: #29303A;
  }
}

.them-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 36%;
  background: linear-gradient(90deg, #EFEFEF 0%, rgba(239, 239, 239, 0) 100%);
  border-radius: 2px;
  padding: 170px 46px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
  h2 {
    color: #058BD9;
    margin-bottom: 40px;
    z-index: 2;
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.31%);
    transform: rotate(180deg);
    z-index: 0;
  }
  &:after {
    content: '';
    position: fixed;
    bottom: 0;
    right: 0;
    width: 36%;
    height: 240px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.31%);
    z-index: 0;
  }
  &.template-sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  scrollbar-color: #EFEFEF rgba(41, 48, 58, 0.2);
  scrollbar-width: 4px;

  &::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 4px;
    background-color: #EFEFEF;
    margin-right: 32px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(41, 48, 58, 0.2);
    border-radius: 2px;
    box-shadow: none;
  }
}

.them__caption {
  color: #058BD9;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
  width: max-content;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: 'Circe Bold', sans-serif;
  span {
    opacity: 0;
    margin-left: 12px;
    transition: all 0.5s ease;
  }
  &:before {
    content: url("../img/doc-icon.svg");
    margin-right: 8px;
    margin-top: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 23px;
    width: calc(100% - 23px);
    opacity: 0;
    height: 1px;
    background-color: #058BD9;
    transition: all 0.5s ease;
  }
  &:hover {
    span {
      opacity: 1;
    }
    &:after {
      opacity: 1;
    }
  }
}

.them__document {
  font-family: 'Circe', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #058BD9;
  background: rgba(5, 139, 217, 0.1);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  width: max-content;
  &:before {
    content: url("../img/template-icon.svg");
    margin-right: 8px;
  }
}

.them__item {
  margin-bottom: 32px;
}

.template__item {
  width: 120px;
  height: 169px;
  background: rgba(5, 139, 217, 0.04);
  border: 2px solid #058BD9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(89% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
  position: relative;
  margin-bottom: 32px;
  &:before {
    content: url("../img/angle.svg");
    position: absolute;
    top: -3px;
    right: -1px;
  }
}

.template__name {
  font-family: 'Circe', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #058BD9;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:after {
    content: url("../img/arrow-circle.svg");
    margin-top: 12px;
  }
}
.template-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 272px;
}
ol.ol-text {
  list-style-type: none;
  counter-reset: num;
  color: #29303A;
  font-family: 'Circe Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 60px;
  li {
    margin-bottom: 16px;
    a {
      color: #29303A;
    }
  }
  li::before {
    content: counter(num) '. ';
    counter-increment: num;
    color: #FFBA08;
    margin-right: 12px;
  }
}

.button-down {
  opacity: 0.5;
  padding-bottom: 60px;
}

.accordion-container {
  margin-top: 32px;
  width: 100%;
  margin-bottom: 60px;
}

.toggle {
  transition: all 0.5s ease;
  margin-bottom: 4px;
}

.toggle.show {
  background: rgba(128, 128, 128, 0.08);
  border-radius: 4px;
}

.toggle .toggle-title {
  position: relative;
  display: flex;
  background: rgba(5, 139, 217, 0.12);
  border-radius: 4px;
  padding: 20px 16px;
  &.active {
    background: transparent;
    h3 {
      color: #29303A;
      .toggle-icon {
        &:before {
          transform: rotate(90deg);
        }

        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
.toggle .toggle-title h3 {
  font-family: 'Circe', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #058BD9;
  cursor: pointer;
  span {
    padding-left: 30px;
  }
}
.toggle .toggle-inner {
  margin-top: 8px;
  display: none;
  p {
    padding-left: 50px;
    padding-right: 16px;
    color: #808080;
  }
}
.toggle .toggle-inner div {
  max-width: 100%;
}



.toggle-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 22px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #058BD9;
    transition: transform 0.25s ease-out;
  }
  &:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
}

.carousel-box {
  position: relative;
  max-width: 520px;
  margin-right: 50px;
}

.carousel-nav-box {
  position: absolute;
  width: calc(100% + 120px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-doc {
  width: 100%;
  height: 372px;
}
.carousel-item {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 372px;
  background: #EFEFEF;
  img {
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

.page-screen {
  width: 100%;
  img {
    width: 100%;
  }
}

.pages-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 36%;
  transform: translate(15px, -50%);
  width: 26px;
  z-index: 5;
  .pages-nav__item {
    clip-path: polygon(65% 0, 100% 35%, 100% 100%, 0 100%, 0 0);
    border: 1px solid #058BD9;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 36px;
    font-family: 'Circe Bold', sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #058BD9;
    position: relative;
    margin-bottom: 16px;
    transition: all 0.5s ease;
    cursor: pointer;
    &:before {
      content: url("../img/hg.svg");
      position: absolute;
      top: -2px;
      right: -3px;
    }
    &.slick-current {
      background-color: #058BD9;
      color: white;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.page-arrow-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 368px;
  width: 32px;
  position: fixed;
  right: 36%;
  top: 50%;
  transform: translate(17px, -50%);
  z-index: 4;
  .page-arrow__button {
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.cap {
  position: fixed;
  right: 36%;
  top: 50%;
  transform: translate(40px, -100%) rotate(-90deg);
  font-family: 'Circe', sans-serif;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #808080;
  opacity: 0.4;
}

footer {
  width: 90%;
  max-width: 1400px;
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.chat-button {
  position: relative;
  padding-bottom: 60px;
  img {
    transition: all 0.5s ease;
  }
  .chat-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &:hover {
    img {
      opacity: 0;
      &.chat-hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1366px) {
  .page-block {
    padding-left: 2vw;
  }

  .fp-slidesNav {
    left: 2vw!important;
  }

  .block-center img {
    max-width: 390px;
  }
}

@media (max-width: 1200px) {
  h1, .page-caption {
    font-size: 34px;
    max-width: 450px;
  }

  .img-search-button {
    margin-top: 32px;
    width: 90%;
  }

  .relevant-result {
    margin-top: 32px;
  }
}

@media (max-width: 990px) {
  .block-center img {
    display: none;
  }

  .page-block.double-block {
    flex-direction: column;
    justify-content: center;
  }

  .page-block .double-block__column {
    width: 100%;
  }
}
