@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_bold.svg#circe_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../fonts/circe_extrabold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_extrabold.svg#circe_extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe ExtraLight';
  src: url('../fonts/circe_extralight.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_extralight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_extralight.svg#circe_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe Light';
  src: url('../fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Circe Thin';
  src: url('../fonts/circe_thin.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../fonts/circe_thin.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/circe_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../fonts/circe_thin.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/circe_thin.svg#circe_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}


/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #808080;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
  }
}

h1, .page-caption {
  font-family: 'Circe ExtraBold', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  color: #29303A;
  margin: 0 60px;
  text-align: left;
  font-weight: normal;
  span {
    color: white;
    padding: 0 8px;
    height: 40px;
  }
}

.back--blue {
  background-color: #058BD9;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  position: relative;
}

header {
  width: 90%;
  max-width: 1400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 40px 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 22px;
  min-width: 199px;
  max-height: 52px;
  background-color: #FF451D;
  border-radius: 256px;
  font-family: 'Circe Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  box-sizing: border-box;

  &.hover {
    color: white;
  }

  img {
    margin-right: 10px;
  }

  &.button__dropdown {
    span {
      position: relative;
      padding-right: 26px;

      &:after {
        content: url("../img/button-arrow.svg");
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        padding: 0 8px;
      }
    }
  }
}

.button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.link-box  {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 80px;
  transform: translateY(-120%);
  width: 367px;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(5, 139, 217, 0.5);
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.5s ease;

  &.show {
    transform: translateY(0);
    top: 130px;
  }

  .link-box__item {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 16px;
    font-family: 'Circe Bold', sans-serif;
    color: #29303A;
    padding: 0 16px;
    transition: all 0.5s ease;
    box-sizing: border-box;
    &:hover {
      background: rgba(255, 69, 29, 0.16);
      color: #FF451D;
    }
  }
}

.soc-box {
  width: max-content;
  max-height: 64px;
  background: #FFFFFF;
  transition: all 0.5s ease;
  border-radius: 256px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  a {
    max-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .media-link {
    display: none;
    margin: 4px;
  }

  .share-icon {
    margin-right: 8px;
  }

  &:hover {
    box-shadow: 0px 0px 32px rgba(5, 139, 217, 0.5);

    .media-link {
      display: flex;
    }
  }
}

.double-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1045px;
  padding-left: 5vw;
  box-sizing: border-box;

  .double-block__column {
    width: 50%;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}

.owl-carousel {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #4DB6AC;
  .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .owl-dots {
    text-align: center;
    line-height: 0;
    position: fixed;
    top: 60px;
    left: 30vw;

    button:focus {
      outline: none;
    }
  }
  .owl-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    margin: 20px;
  }
  .owl-dot + .owl-dot {
    margin-left: 12px;
  }
  .owl-dot:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #EFEFEF;
    transition: transform 0.3s ease;
    border: 4px solid white;
  }
  .owl-dot.active:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #058BD9;
    box-shadow: 0 0 0 1px #058BD9;
  }

  .dot-indicator {
    width: 32px;
    height: 2px;
    background-color: #058BD9;
    position: absolute;
    top: 6px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .dot-indicator.next {
    left: 50%;
    -webkit-animation-name: dot-indicator-next;
    animation-name: dot-indicator-next;
  }
  .dot-indicator.prev {
    right: 50%;
    -webkit-animation-name: dot-indicator-prev;
    animation-name: dot-indicator-prev;
  }

  @-webkit-keyframes dot-indicator-next {
    0%, 100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    0%, 60% {
      -webkit-transform-origin: left;
      transform-origin: left;
    }
    60% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    60.1%, 100% {
      -webkit-transform-origin: right;
      transform-origin: right;
    }
  }

  @keyframes dot-indicator-next {
    0%, 100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    0%, 60% {
      -webkit-transform-origin: left;
      transform-origin: left;
    }
    60% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    60.1%, 100% {
      -webkit-transform-origin: right;
      transform-origin: right;
    }
  }
  @-webkit-keyframes dot-indicator-prev {
    0%, 100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    0%, 60% {
      -webkit-transform-origin: right;
      transform-origin: right;
    }
    60% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    60.1%, 100% {
      -webkit-transform-origin: left;
      transform-origin: left;
    }
  }
  @keyframes dot-indicator-prev {
    0%, 100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
    0%, 60% {
      -webkit-transform-origin: right;
      transform-origin: right;
    }
    60% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    60.1%, 100% {
      -webkit-transform-origin: left;
      transform-origin: left;
    }
  }
}



ul {
  list-style: none;
  padding-left: 0;
}

nav {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  max-height: calc(100vh - 280px);
  overflow: hidden;
  min-width: 180px;

  .nav__line {
    width: 1px;
    height: 106px;
    background-color: #EFEFEF;
    margin-left: 8px;
  }

  ul {
    height: max-content;
    margin: 40px 0;
    li {
      margin: 16px 0;
      .nav__item {
        font-family: 'Circe', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #29303A;
        opacity: 0.25;
      }
    }
  }
}

footer {
  width: 90%;
  max-width: 1400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0 60px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
